.button {
    background-color: black;
    border: 1px dotted gray;
}

.isActive {
    /* background-color: gray; */
    background-image: url(../../Images/btn-bg1.png);
}

.button:hover {
    border: 1px solid red;
}