.ToolBarMenu {
    position: relative;
    display: inline-block;
    padding-left: 1em;
}

.ToolBarMenu:first-child {
    padding-left: 0;
}

.ToolBarMenuChildren {
    display: none;
    position: absolute;
    /* margin: 8px 4px; */
    /* top: 2em; */
}

.ToolBarMenu:hover .ToolBarMenuChildren {
    display: block;
    border: 1px solid white;
    min-width: 6em;
}

.ToolBarMenuChildren {
    z-index: 1;
}

/* .ToolBarMenuChildren:hover {
    background-color: #222;
} */